/* google font Poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --special_color: rgb(255, 144, 42);
  --heading_color: rgb(47, 33, 5);
  --text_color: rgba(0, 0, 0, 0.705);
  --bg-color: rgb(246, 235, 218);
}
body {
  max-width: 1400vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffff;
  background: rgb(47, 33, 5);
  cursor: pointer;
  transform: all 0.3s;
  font-size: 16px;
}

.btn:hover {
  background: rgb(22, 15, 2);
}

.btn_cart {
  padding: 5px;
  border-radius: 50%;
  background: var(--special_color);
  display: inline-block;
  font-size: 10px;
  color: #ffff;
  cursor: pointer;
  transition: all .3s;
}

.inner_content {
  padding: 100px 130px;
}

/* header styles  */
.header_and_hero {
  background: var(--bg-color);
  position: relative;
  height: 1000px;
}
.header_container {
  position: relative;
  z-index: 100;
}
.inner_header_content {
  padding: 20px 100px;
}
/* logo  */
.logo {
}
.logo a {
}
.logo a img {
}

/* menu links  */
.menu_content {
}
.menu_links {
  gap: 50px;
}
.menu_links li {
  list-style: none;
}
.menu_links li a {
  color: var(--text_color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
}

.menu_links li a:hover {
  color: var(--special_color);
}

/* search  */

.search_icon {
  position: relative;
  top: 0px;
  left: 40px;
  font-size: 20px;
  color: var(--text_color);
  cursor: pointer;
}

input[type="search"] {
  padding: 10px 10px 10px 35px;
  border: none;
  outline: none;
  border-radius: 25px;
  width: 250px;
}

/* cart  */
.hero_cart {
}
.cart_items {
  position: relative;
  top: -6px;
  right: -41px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: var(--special_color);
}

/* hero background img  */
.bg_img {
}

.bg_img_1 img {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bg_img_2 img {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* hero section styles  */

.hero_container {
}
.inner_hero_content {
  padding: 100px;
}

.hero_text {
  width: 489px;
  color: var(--heading_color);
  flex-direction: column;
  align-items: start;
  gap: 20px;
  z-index: 100;
}
.hero_text h1 {
  font-size: 40px;
}
.hero_text h1 span {
  color: var(--special_color);
}
.hero_text p {
  color: var(--text_color);
  width: 346px;
}

/* hero image  */
.hero_img {
  z-index: 100;
  width: 570px;
}

.hero_img img {
  max-width: 100%;
}

/* Popular coffee  */
.popular_coffee_continer {
}

.popular_coffee_inner_content {
  position: relative;
  top: -150px;
}

.title {
  color: var(--heading_color);
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
  top: -130px;
  left: 125px;
}
.title span {
  position: relative;
  display: inline-block;
}

.title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background: var(--special_color);
  border-radius: 3px;
}

.popular_contents {
  max-width: 1260px;
  background: rgb(249, 217, 170);
  margin: 0 auto;
  border-radius: 20px;
  padding-inline: 80px;
}

/* single_coffee_content */
.single_coffee_content {
  position: relative;
  top: -100px;
  width: 343px;
  padding: 20px;
  border-radius: 10px;
  background: #ffff;
  box-shadow: 0 0 0 6px rgba(208, 206, 209, 0.3);
}

/* single_coffee_content_top */

.review {
  box-shadow: 0 0 0 5px rgba(208, 206, 209, 0.3);
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 26px;
  font-size: 15px;
  gap: 5px;
  color: var(--heading_color);
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 13px;
}

.review img {
  margin-bottom: 2px;
}

/* single_coffee_cup_img */
.single_coffee_cup_img img {
  border-radius: 10px;
  width: 100%;
}
/* single_coffee_content_bottom */
.single_coffee_content_bottom div h3 {
  color: var(--heading_color);
  margin: 15px 0px;
}

/* cup button  */
.single_coffee_btns div {
  gap: 20px;
}
.single_coffee_btns div button {
  border: 2px solid rgb(247, 206, 129);
  color: rgb(247, 206, 129);
  padding: 4px 15px;
  font-size: 17px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: all .3s;
}

.single_coffee_btns div button:hover{
    border: 2px solid var(--special_color);
  color: var(--special_color);
  box-shadow: rgba(0, 0, 0, 0.342) 0px 4px 12px;
}
.single_coffee_cart {
    display: inline-block;
  font-size: 18px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.342) 0px 4px 12px;
}


/* delivery service  */
.delivery_service_container{
  position: relative;
}
.service_title{
  position: absolute;
  top: -65px;
  bottom: 10px;
}
.delivery_service_inner_content{
  margin-top: -30px;
  padding: 20px 130px 80px 130px;
}
.single_service{
  text-align: center;
}

/* about styles  */
.about_section_container{
  background: url(./images/about_img/about_bg.png);
  position: relative;
  margin-top: 100px;
}
.about_inner_content{
  padding: 0px 100px;
  justify-content: center;
  gap:  150px;
}

.about_img{
  position: relative;
  top: -80px;
  
}
.about_img img{}

.about_text{
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
.about_title{
  margin-bottom: 0px;
  position: relative;
  top: 0;
  left: 0;
}
.about_title h1{
  color: var(--heading_color);
}

.about_text h4{
  color: var(--text_color);
}
.about_text p{
  font-size: 14px;
  color: var(--text_color);
    width: 348px;
    letter-spacing: .5px;
}